.logo {
  background-color: #f5f7fd;
  &-container {
    & .mcs-section {
      //padding: 80px 50px 80px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  &-text {
    padding: 10px 30px;
    @media (min-width: 768px) {
      padding: 80px 50px 80px 0;
    }
  }
  &-image {
    padding: 10px 30px;
    @media (min-width: 768px) {
      padding: 80px 0 80px 50px;
    }
  }
  &-description {
    margin-bottom: 100px;
    &-title {
      font-family: 'Montserrat', sans-serif;
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    &-date {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: $greyTextColor;
    }
    &-text {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      color: $darkGreyTextColor;
      margin-top: 40px;
    }
  }
  &-download {
    display: flex;
    justify-content: space-between;
    &-button {
      width: 30%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: $blueButton;
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      border: 1px solid $blueButton;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      &:hover {
        background-color: $blueButton;
        color: $lightTextColor;
      }
    }
  }

  &-categories {
    &-title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    &-item {
      margin-bottom: 14px;
      font-size: 14px;
      a {
        color: black;
        &:hover {
          color: $mainColor;
          text-decoration: underline;
        }
      }
    }
  }
}

