@import "./partials/mixins";
@import "./partials/params";
@import "./reset.scss";
@import "./button.scss";
@import "./menu.scss";
@import "./card.scss";
@import "./section.scss";
@import "./form.scss";
@import "./shareButton.scss";
@import "./main.scss";
@import "./loader.scss";
@import "./logoMain";
@import "./about";
@import "./addForm";
@import "./alert";

@include load-google-font("Montserrat");

html, body {
  font-family: "Montserrat";
}

@each $name, $value in $sizes {
  .width-#{$name} {
    width: $value;
  }
}

.border {
  border: 1px solid $borderColor;
}
.no-border {
  border: none;
}

.w-100 {
  width: 100%;
}

// search
.search {
  &-container {
    position: relative;
    &-list {
      display: none;
      position: absolute;
      width: 100%;
      top: 100%;
      z-index: 10;
      background-color: #fff;
      border-bottom-right-radius: 45px;
      border-bottom-left-radius: 45px;
      &.visible {
        display: block;
      }
    }
  }
  &-item {
    padding: 15px 20px 15px 79px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    @media (min-width: 576px) {
      padding: 15px 20px 15px 18px;
    }
    @media (min-width: 769px) {
      padding: 15px 20px 15px 60px;
    }
    @media (min-width: 992px) {
      padding: 15px 20px 15px 64px;
    }
    @media (min-width: 1199px) {
      padding: 15px 20px 15px 78px;
    }
  }


}

.bg-white {
  background-color: #fff;
}
.cell-category {
  background-color: #f5f7fd;
  margin-bottom: 0;
  outline: 1px solid #f5f7fd;
  padding-left: 40px;
  display: none;
  @media (min-width: 992px) {
    display: block;
  }
}
